body {
  margin-top: 25% !important;
  margin-bottom: 10% !important;
  margin-right: 20% !important;
  margin-left: 20% !important;
  background-color: rgb(227, 238, 237) !important;
}

.todo-title {
  font-weight: bold !important;
  font-family: cursive !important;
  font-size: 50px !important;
  color: #0158ca !important;
  letter-spacing: 5px !important;
  margin-bottom: 20px !important;
}
.card {
  background-color: rgb(231, 227, 224) !important;
  border: 1px solid red !important;
}
